<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REALTIME TRACKER</title>
    <link rel="stylesheet" href="style.css">
    <link href="
    https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.css
    " rel="stylesheet">
</head>
<body>
    <div id="map" style="height: 100vh;"></div>

    <!-- Load Leaflet JS -->
    <script src="
    https://cdn.jsdelivr.net/npm/leaflet@1.9.4/dist/leaflet.min.js
    "></script>
    
    <!-- Load Socket.io -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO" crossorigin="anonymous"></script>

    <!-- Your custom script -->
    <script src="script.js"></script>
</body>
</html>
